site_name: Admin Guide
site_url: https://felbinger.github.io/AdminGuide/
repo_name: felbinger/AdminGuide
repo_url: https://github.com/felbinger/AdminGuide/
site_description: "Linux Server Administrator Guide"
site_author: https://github.com/felbinger
remote_branch: gh-pages
edit_uri: edit/master/docs

theme:
  name: 'material'
  palette:
    scheme: preference
    primary: 'green'
    accent: 'lime'

  font:
    text: Roboto
    code: Roboto Mono

  language: en
  direction: ltr
  icon:
    repo: fontawesome/brands/github

  theme:
  features:
    - search.suggest
    - search.highlight
    - navigation.expand
    - navigation.instant

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - pymdownx.tabbed
  - attr_list
  - pymdownx.arithmatex:
      generic: true

plugins:
  - git-revision-date
  - git-revision-date-localized
  - search:
      lang: en

nav:
  - 'Overview': index.md
  - 'Installation':
    - 'Base': 'installation/index.md'
    - 'Configure DNS': 'installation/dns.md'
    - 'Docker': 'installation/docker.md'
    - 'Stack Logic': 'installation/stack-logic.md'
  - 'Services':
      - 'Traefik': services/traefik.md
      - 'nginx/proxy': services/nginx-proxy.md
      - 'nginx': services/nginx.md
      - 'httpd': services/httpd.md
      - 'httpd with php': services/httpd-php.md
      - 'MariaDB': services/mariadb.md
      - 'MongoDB': services/mongodb.md
      - 'PostgreSQL': services/postgresql.md
      - 'Redis': services/redis.md
      - 'Monitoring': services/monitoring.md
      - 'Minecraft': services/minecraft.md
      - 'Arma 3 Server': services/arma3.md
      - 'Teamspeak 3 + Sinusbot': services/teamspeak.md
  - 'OpenLDAP': OpenLDAP.md

extra_javascript:
  - js/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
